<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>现有商铺登录/注册</title>
    <link href="../../css/reset.css" rel="stylesheet">
    <link href="../../css/base.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <script src="../../lib/jquery-1.12.4.js"></script>
    <script src="../../js/header.js"></script>
</head>
<body id="home">
<!--头部-->
<div id="header">
    <div class="inner clearFloat">
        <h1 class="fl">
            <a href="../../index.html"><img src="../../images/public/logo.jpg"></a>
        </h1>
        <ul class="fl">
            <li><a href="../invest/itemlist.html"><img src="../../images/public/header_title1.jpg"></a></li>
            <li><a href="../invest/investorsLists.html"><img src="../../images/public/header_title2.jpg"></a></li>
            <li><a href="../home/guid.html" class="smallfont">新手指引</a></li>
        </ul>
        <div class="fr">
            <div class="loginInfo">
                <a id="login" href="#" class="personbg">登录</a>
                <a href="../register/registrant.html">注册</a>
            </div>
            <div class="memberInfo">
                <div class="detail clearFloat">
                    <a href="javascript:;" class="openList">会员中心<i></i></a>
                    <a href="javascript:;">消息<span>(155)</span></a>
                    <a href="javascript:;" class="personIcon"><img src="../../images/home/personIcon.jpg" alt=""></a>
                </div>
                <ul>
                    <li><a href="../personal/personal.html"><i class="icon-user"></i>个人主页</a></li>
                    <li><a href="javascript:;"><i class="icon-edit"></i>提交融资店铺</a></li>
                    <li><a href="javascript:;"><i class="icon-file-alt"></i>已提交的融资店铺</a></li>
                    <li><a href="../issuance/one.html"><i class="icon-user-md"></i>投资人认证</a></li>
                    <li><a href="javascript:;"><i class="icon-cog"></i>账号设置</a></li>
                    <li><a href="javascript:;" class="quite"><i class="icon-off"></i>安全退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--弹窗-->
    <div class="popup">
        <h5>加入人人投，体验最酷的店铺投融资方式！<a id="close" href="javascript:;"><img src="../../images/home/error.png"></a></h5>
        <div class="fl">
            <label>
                <img src="../../images/home/agent.png" alt="">
                <input type="text" placeholder="输入用户名" id="userName" name="userName">
            </label>
            <label>
                <img src="../../images/home/lock.png" alt="">
                <input type="password" placeholder="输入密码"  id="password" name="password">
                <a href="javascript:;"></a>
            </label>
            <input type="text" placeholder="输入验证码" id="infiCode" name="infiCode">
            <img src="../../images/home/infinCode.png" alt="">
            <span>刷新</span>
            <a href="javascript:;" class="login">立即登录</a>
            <p><a href="../register/forgetPassword.html">忘记密码?</a></p>
        </div>
        <div class="fr">
            <i>没有账号？</i>
            <i>欢迎注册加入我们！</i>
            <a href="../register/registrant.html" id="quickRegister">快速注册</a>
            <p>或者使用合作网站登录</p>
            <div class="icons">
                <a href=""><img src="../../images/home/qq.png" alt=""></a><a href=""><img src="../../images/home/guidSina.png"></a><a href=""><img src="../../images/home/good.png"></a>
            </div>

        </div>
    </div>
    <!--蒙版-->
    <div class="shadow"></div>
</div>

<div id="project_store">
    <div class="inner">
        <!--店铺顶部-->
        <div class="store_top">
            <div class="store_title clearFloat">
                <h1 class="logo fl"><a href="#" class="fontColorTwo">牛扒工厂</a></h1>
                <span class="note fl"><strong>项目最新公告：</strong>已经获得5人预约认购</span>
            </div>
            <div class="store_financing clearFloat">
                <a href="#" class="fl"><img src="../../images/project/pro_logo.png" alt="logo"></a>
                <img src="../../images/project/pro_financing.png" alt="融资中" class="img_position">
                <span class="thumb thumb_position">(129)</span>
                <div class="store_info fl">
                    <h3 class="title">正宗西北农家自制荞皮枕芯正宗西北农家自制荞皮枕芯</h3>
                    <p class="store_up"><strong>行业:餐饮 | 目前开店数量&nbsp;</strong><span class="store_number">2</span> 家</p>
                    <p class="store_down"><strong>总店位置：</strong>北京市丰台区嘉园路大台子9号6号门&nbsp;<a href="#"><img src="../../images/project/pro_headOffice.png" alt="总店全景"></a>&nbsp;总店全景</p>
                </div>
                <p class="store_share">
                    <a href="#"><img src="../../images/project/pro_multipleChat.png" alt="多人聊天"></a>
                    <a href="#"><img src="../../images/project/pro_star.png" alt="多人聊天"></a>
                    <a href="#"><img src="../../images/project/pro_share.png" alt="多人聊天"></a>
                </p>
            </div>
        </div>

        <!--店铺头部-->
        <div class="store_header">
            <div class="store_buy clearFloat">
                    <div class="store_money fl">
                        <div>
                            <p class="store_progress"><span></span></p>
                            <span class="store_percent">25%</span>
                        </div>
                        <div class="store_price clearFloat">
                            <div class="store_column fl">
                                <p class="store_detail">￥100,000</p>
                                <span>项目方出资</span>
                            </div>
                            <div class="store_column fl">
                                <p class="store_detail">￥250,000</p>
                                <span>已融资</span>
                            </div>
                            <div class="store_column fl">
                                <p class="store_detail">￥100,000,000</p>
                                <span>目标出资</span>
                            </div>
                        </div>
                    </div>
                    <div class=" store_remain fl default_color"><p>剩余&nbsp;<span>15</span>&nbsp;天</p></div>
                    <div class="store_subscription fl default_color"><p>已认购：￥40,000&nbsp;&nbsp;<a href="#">认购</a></p></div>
            </div>
            <div class="store_type clearFloat">
                <ul>
                    <li class="store_same"><a href="#" class="store_active">现有店简介<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                    <li class="store_same"><a href="#">融资分店<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                    <li class="store_same"><a href="#">融资动态<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                    <li class="store_same"><a href="#">粉丝(<span>228</span>)<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                    <li class="store_same"><a href="#">已有店铺<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                    <li class="store_last"><a href="#">www.steakf.com<img src="../../images/project/pro_downArrow.png" alt="三角箭头"></a></li>
                </ul>
            </div>
        </div>

        <!--店铺主体-->
        <div class="store_main clearFloat">

            <!--左侧-->
            <div class="fl">
                <div class="store_left">
                    <p class=" default_color store_p">该项目项目方设置只对人人投会员可见，您可以在此登录人人投，查看该项目。如果没有人人投帐号可以点击注册按钮进行注册。</p>
                    <div class="store_join clearFloat">
                        <div class="store_login fl clearFloat">
                            <p class="store_user"><input type="text" placeholder="请输入用户名" ></p>
                            <p class="store_password"><input type="password" placeholder="请输入密码"></p>
                            <p><input type="text" placeholder="请输入验证码" class="store_validCode"><img src="../../images/project/pro_yanzhengma.png" alt="验证码"><a href="#" class="store_fresh default_color">刷新</a></p>
                            <p><input type="button" value="立即登录" class="store_button"></p>
                            <a href="#" class="store_forget">忘记密码？</a>
                        </div>
                        <div class="store_signUp fr clearFloat">
                            <p>没有账号？欢迎加入我们</p>
                            <a href="#" class="store_fast">快速注册</a>
                            <div class="store_corperation">
                                <p>或者使用合作网站登录</p>
                                <span>
                                    <a href="#"><img src="../../images/project/pro_qq.png" alt="qq"></a>
                                    <a href="#"><img src="../../images/project/pro_microbo.png" alt="微博"></a>
                                    <a href="#"><img src="../../images/project/pro_cup.png"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--右侧-->
            <div class="fr">
                <div class="store_right store_left">
                    <h3 class="default_color store_downLine">总店证件</h3>
                    <p class="store_tip">位保障投资人利益不受损害，我们会对总店(或现有店运营公司)的证件进行审核</p>
                    <div class="store_verify">
                        <span>审核项目</span>
                        <span>审核状态</span>
                    </div>
                    <div class="store_item">
                        <ul>
                            <li class="store_pass">法定代表人身份证</li>
                            <li class="store_unpass">卫生许可证</li>
                            <li class="store_pass">营业执照</li>
                            <li class="store_pass">营业执照副本</li>
                            <li class="store_pass">税务登记证</li>
                            <li class="store_pass">税务登记证副本</li>
                            <li class="store_pass">组织机构代码证</li>
                            <li class="store_unpass">组织机构代码证副本</li>
                            <li class="store_pass">公司照片</li>
                            <li class="store_unpass">场地租赁合同</li>
                            <li class="store_pass">卫生许可证</li>
                        </ul>
                    </div>
                    <p class="store_announce">人人投及其合作机构将始终秉承客观公正的原则，严控风险，最大程度的尽力确保投融资方信息的真实性，但不保证审核信息的100%无误。</p>
                </div>
                <div class="store_right store_left">
                    <h3 class="default_color store_downLine">人人投投资帮助系统</h3>
                    <ul class="store_help">
                        <li><a href="#">什么是预约认购？</a></li>
                        <li>正常基金的交易时间是工作日的9:30-15:00,只有在这段时间才可以进行交易。</li>
                        <li><a href="#">为什么要预约认购？</a></li>
                        <li><a href="#">预约认购后如何处理？</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部-->
<div id="footer">
    <div class="inner">
        <div class="top clearFloat">
            <div class="fl">
                <ul>
                    <li><a href="#">网站首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">新手指引</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
                <p>北京飞度网络科技有限公司 www.renrentou.com 版权所有 京ICP备12015672号-7</p>
            </div>
            <div class="fr">
                <p>关注人人投</p>
                <div>
                    <a href="#"><img src="../../images/public/sina.jpg">新浪微博</a>
                    <a href="#"><img src="../../images/public/tengxun.jpg"><span class="fontBlueColor">腾讯</span><span class="fontYelloColor">微博</span></a>
                    <a href="#"><img src="../../images/public/weixin.jpg">微信</a>
                    <a href="#"><img src="../../images/public/online.jpg">在线咨询</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <a href="#"><img src="../../images/public/header_icp.jpg"></a>
                <a href="#"><img src="../../images/public/header_net.jpg"></a>
                <a href="#"><img src="../../images/public/header_norton.jpg"></a>
                <a href="#"><img src="../../images/public/header_img.jpg"></a>
                <a href="#"><img src="../../images/public/header_badge.jpg"></a>
            </div>
        </div>
    </div>

</div>
</body>
</html>