<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>01</title>
    <link href="../../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--头部开始-->
<div id="header">
    <div class="inner clearFloat">
        <h1 class="fl">
            <a href="#"><img src="../../images/public/logo.jpg"></a>
        </h1>
        <ul class="fl">
            <li><a href="#"><img src="../../images/public/header_title1.jpg"></a></li>
            <li><a href="#"><img src="../../images/public/header_title2.jpg"></a></li>
            <li><a href="#" class="smallfont">新手指引</a></li>
        </ul>
        <div class="fr">
            <a href="#" class="personbg">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>
<!--头部结束-->

<div id="issuance" class="inner">
    <div class="top clearFloat">
        <div class="inner">
            <div class="box"></div>
            <p>投资认证</p>
            <img src="../../images/issuance/1_03.jpg">
            <a class="a1" hre1f="#">填写个人信息</a><a class="a2" href="#">描述投资理念</a><a class="a3" href="#">进行身份验证</a>
        </div>
    </div>
    <div class="main clearFloat">
        <div class="inner">
            <div class="mainH">
                <h3>描述投资理念</h3>
            </div>
            <div class="mainHH">
                <p>请不要落下带 * 号的，因为那是必填项</p>
            </div>
            <form>
                <div class="mainInput ">
                    * 资金类型:<input class="pd" type="radio" name="aa">   人民币<input  class="pd" type="radio" name="aa">   外币<input class="pd" type="radio" name="aa">   人民币+加外币
                </div>
                <div class="mainText">
                    * 您目前的年收入:<input type="text" class="txt">
                </div>
                <div class="mainText2">
                    * 最小投资额:<input type="text" class="txt">
                </div>
                <div class="mainText3">
                    * 最大投资额:<input type="text" class="txt">
                </div>
                <div class="mainText4">
                    * 关注行业:<select class="sec"><option>选择</option></select>
                    <div class="canying">
                        <img src="../../images/issuance/nb_03.jpg"><a href="#">烧烤</a><a href="#">火锅</a><a href="#">湘菜</a><a href="#">台湾菜</a><a href="#">粤菜</a><a href="#">北京菜</a>
                    </div>
                    <div class="canying">
                        <img src="../../images/issuance/nb_06.jpg"><a href="#">ktv</a><a href="#">电影</a><a href="#">养生休闲</a><a href="#">温泉洗浴</a><a href="#">运动健身</a><a href="#">北京菜</a>
                    </div>
                    <div class="canying">
                        <img src="../../images/issuance/nb_08.jpg"><a href="#">酒店 </a><a href="#">旅行社</a><a href="#"> 健康护理 </a><a href="#">汽车服务</a>
                    </div>
                </div>
                <div class="mainText5">
                    * 投资理念:<select class="sec"><option>选择</option></select>
                    <div class="canying">
                        <img src="../../images/issuance/nb_10.jpg"><a href="#">烧烤</a><a href="#">火锅</a><a href="#">湘菜</a><a href="#">台湾菜</a><a href="#">粤菜</a><a href="#">北京菜</a>
                    </div>
                    <div class="canying">
                        <img src="../../images/issuance/nb_12.jpg"><a href="#">ktv</a><a href="#">电影</a><a href="#">养生休闲</a><a href="#">温泉洗浴</a><a href="#">运动健身</a><a href="#">北京菜</a>
                    </div>
                    <div class="canying">
                        <img src="../../images/issuance/nb_14.jpg"><a href="#">酒店 </a><a href="#">旅行社</a><a href="#"> 健康护理 </a><a href="#">汽车服务</a>
                    </div>
                </div>
                <div class="mainText6">
                    * 能为项目方提供:<select class="sec"><option>选择</option></select>
                    <div class="canying3">
                        <img src="../../images/issuance/nb_17.jpg"><img src="../../images/issuance/nb_19.jpg"><img src="../../images/issuance/nb_21.jpg">
                    </div>
                </div>
            </form>
            <div class="center">
                <input type="button" class="btn1" value="上一步">
                <input type="button" class="btn2" value="下一步">
            </div>
        </div>

    </div>
</div>

<!--底部开始-->
<div id="footer">
    <div class="inner">
        <div class="top clearFloat">
            <div class="fl">
                <ul>
                    <li><a href="#">网站首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">新手指引</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
                <p>北京飞度网络科技有限公司 www.renrentou.com 版权所有 京ICP备12015672号-7</p>
            </div>
            <div class="fr">
                <p>关注人人投</p>
                <div>
                    <a href="#"><img src="../../images/public/sina.jpg">新浪微博</a>
                    <a href="#"><img src="../../images/public/tengxun.jpg"><span class="fontBlueColor">腾讯</span><span
                            class="fontYelloColor">微博</span></a>
                    <a href="#"><img src="../../images/public/weixin.jpg">微信</a>
                    <a href="#"><img src="../../images/public/online.jpg">在线咨询</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <a href="#"><img src="../../images/public/header_icp.jpg"></a>
                <a href="#"><img src="../../images/public/header_net.jpg"></a>
                <a href="#"><img src="../../images/public/header_norton.jpg"></a>
                <a href="#"><img src="../../images/public/header_img.jpg"></a>
                <a href="#"><img src="../../images/public/header_badge.jpg"></a>
            </div>
        </div>
    </div>

</div>
<!--底部结束-->
</body>
</html>