<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02</title>
    <link href="../../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--头部开始-->
<div id="header">
    <div class="inner clearFloat">
        <h1 class="fl">
            <a href="#"><img src="../../images/public/logo.jpg"></a>
        </h1>
        <ul class="fl">
            <li><a href="#"><img src="../../images/public/header_title1.jpg"></a></li>
            <li><a href="#"><img src="../../images/public/header_title2.jpg"></a></li>
            <li><a href="#" class="smallfont">新手指引</a></li>
        </ul>
        <div class="fr">
            <a href="#" class="personbg">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>
<!--头部结束-->
<div id="issuance" class="inner">
    <div class="top clearFloat">
        <div class="inner">
            <div class="box"></div>
            <p>投资认证</p>
            <img class="imgTwo" src="../../images/issuance/3_03.jpg">
            <a class="aa1" href="#">现有店铺介绍</a><a class="aa2" href="#">草稿状态编辑项目</a>
            <a class="aa3" href="#">支付账号注册并了解并了解融后管理</a><a class="aa4" href="#">人人投审核</a>
        </div>
    </div>
    <div class="topBottom">
        <div class="inner">
            <div class="topBottom-b">
                <span>信息完整度</span>
                <img src="../../images/issuance/df_03.jpg">
                <a>温馨提示:为必填项和必要认证项，所有资料均会严格保密</a>
            </div>
            <div class="leftOne fl">
                <ul>
                    <li><a href="#">现在店简介</a></li>
                    <li><a href="#">融资分店</a></li>
                    <li><a href="#">审核资料提交</a></li>
                </ul>
            </div>
            <div class="rightOne fr">
                <div class="clearFloat">
                    <a class="rightOneLeft fl">开启计划</a>
                    <div class="textarea fr">
                        <textarea class="area"></textarea>
                    </div>
                </div>

                <div class="clearFloat">
                    <a class="rightOneLeft2 fl">* 融资总额 ￥</a>
                    <div class="textarea fl">
                        <input type="number"class="area2">
                    </div>
                </div>
                <div class="xin">
                    <div class="aDan">* 单投资人最低出资 ￥</div>
                     <input type="number" class="area3">
                    <div class="aXu">需要≥目标金额的2%</div>
                </div>

                <div class="xin">
                    <div class="aDan">* 项目方出资及比例 ￥</div>
                    <input type="number" class="area4">
                    <input type="number" class="area4">
                    <div class="aXu">%</div>
                </div>

                <div class="xin">
                    <div class="aDan">* 项目方收益比例 ￥</div>
                    <input type="number" class="area3">
                    <div class="aXu">需要≥目标金额的5%</div>
                </div>

                <div class="xin">
                    <div class="aDan">* 投资人出资及比例 ￥</div>
                    <input type="number" class="area3">
                    <input type="number" class="area4">
                    <div class="aXu">%</div>
                </div>
                <div class="clearFloat">
                    <a class="rightOneLeft3 fl">* 投资方收益比例 ￥</a>
                    <div class="textarea fl">
                        <input type="number"class="area2">
                    </div>
                </div>
                <div class="center">
                    <input type="button" class="btn1" value="上一步">
                    <input type="button" class="btn2" value="下一步">
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部开始-->
<div id="footer">
    <div class="inner">
        <div class="top clearFloat">
            <div class="fl">
                <ul>
                    <li><a href="#">网站首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">新手指引</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
                <p>北京飞度网络科技有限公司 www.renrentou.com 版权所有 京ICP备12015672号-7</p>
            </div>
            <div class="fr">
                <p>关注人人投</p>
                <div>
                    <a href="#"><img src="../../images/public/sina.jpg">新浪微博</a>
                    <a href="#"><img src="../../images/public/tengxun.jpg"><span
                            class="fontBlueColor">腾讯</span><span
                            class="fontYelloColor">微博</span></a>
                    <a href="#"><img src="../../images/public/weixin.jpg">微信</a>
                    <a href="#"><img src="../../images/public/online.jpg">在线咨询</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <a href="#"><img src="../../images/public/header_icp.jpg"></a>
                <a href="#"><img src="../../images/public/header_net.jpg"></a>
                <a href="#"><img src="../../images/public/header_norton.jpg"></a>
                <a href="#"><img src="../../images/public/header_img.jpg"></a>
                <a href="#"><img src="../../images/public/header_badge.jpg"></a>
            </div>
        </div>
    </div>

</div>
<!--底部结束-->
</body>
</html>