<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>02</title>
    <link href="../../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--头部开始-->
<div id="header">
    <div class="inner clearFloat">
        <h1 class="fl">
            <a href="#"><img src="../../images/public/logo.jpg"></a>
        </h1>
        <ul class="fl">
            <li><a href="#"><img src="../../images/public/header_title1.jpg"></a></li>
            <li><a href="#"><img src="../../images/public/header_title2.jpg"></a></li>
            <li><a href="#" class="smallfont">新手指引</a></li>
        </ul>
        <div class="fr">
            <a href="#" class="personbg">登录</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>
<!--头部结束-->
<div id="issuance" class="inner">
    <div class="top clearFloat">
        <div class="inner">
            <div class="box"></div>
            <p>投资认证</p>
            <img class="imgTwo" src="../../images/issuance/3_03.jpg">
            <a class="aa1" href="#">现有店铺介绍</a><a class="aa2" href="#">草稿状态编辑项目</a>
            <a class="aa3" href="#">支付账号注册并了解并了解融后管理</a><a class="aa4" href="#">人人投审核</a>
        </div>
    </div>
    <div class="topBottom">
        <div class="inner">
            <div class="topBottom-b">
                <span>信息完整度</span>
                <img src="../../images/issuance/df_03.jpg">
                <a>温馨提示:为必填项和必要认证项，所有资料均会严格保密</a>
            </div>

            <div class="topBottom-m clearFloat">
                <div class="left fl">
                    <h3>支付账号注册</h3>
                </div>
                <div class="right fr">
                    <h3>过往投资案例</h3>
                </div>
                <p>人人投为了保障投资资金安全与第三方支付平台合作，进行项目融资金的托管，在此可以注册第三方支付平台账号民，为以后在线融资做好准备。</p>
                <div class="imgp"><img src="../../images/issuance/b_03.jpg"></div>
                <p class="ay" href="#">前往易宝支付注册</p>
                <div class="checkbox clearFloat">
                    <input type="checkbox">
                    <a>暂不注册(可以后融资过程中注册，但是会延迟融资速度)</a>
                </div>
                <div class="innernei">
                    <h3>为什么要注册第三方平台支付账号</h3>
                    <p>1、线上付款至第三方支付平台后，融资款在所有投资人同意后才可捐出，增强资金安全保障。</p>
                    <p>2、避免线下交易，因操作不当，造成不必要的经济损失</p>
                    <p>3、众筹方式可能投资人会有多个，线上付款简化操作流程。</p>
                </div>
            </div>
            <div class="topBottom-m clearFloat">
                <div class="left fl">
                    <h3>了解融后管理</h3>
                </div>
                <div class="right fr">
                    <h3>过往投资案例</h3>
                </div>
                <p class="pp">融资后，我们建议融资方和融资店铺的投资人一起成立有限合伙来管理融资后将要新开设的的新店铺。由项目方来充当该合伙企业的普通合伙人，其他<br>
                    投资人为有限合伙人，同时项目方独立负责新开店铺的的经营管理。
                </p>
                <p class="ppp">将来的融后管理中，需要有《合伙协议》来约束有限合伙企业中您与投资人的权利和义务，在此，您可以下载《合伙协议》模板，详细阅读，认真填写,<br>
                    填写后可以在后期上传至人人投
                </p>
                <div class="box"><img src="../../images/issuance/b_07.jpg"></div>
                <div class="center"><a href="#">点击阅读资料了解融后管理</a>|<a href="#">点击直接联系在线客服了解融后管理</a></div>
            </div>
            <div class="last">
                <a class="a1" href="#">上一步</a><a class="a2" href="#">提交审核</a>
            </div>

        </div>
    </div>
</div>
<!--底部开始-->
<div id="footer">
    <div class="inner">
        <div class="top clearFloat">
            <div class="fl">
                <ul>
                    <li><a href="#">网站首页</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">新手指引</a></li>
                    <li><a href="#">友情链接</a></li>
                </ul>
                <p>北京飞度网络科技有限公司 www.renrentou.com 版权所有 京ICP备12015672号-7</p>
            </div>
            <div class="fr">
                <p>关注人人投</p>
                <div>
                    <a href="#"><img src="../../images/public/sina.jpg">新浪微博</a>
                    <a href="#"><img src="../../images/public/tengxun.jpg"><span class="fontBlueColor">腾讯</span><span
                            class="fontYelloColor">微博</span></a>
                    <a href="#"><img src="../../images/public/weixin.jpg">微信</a>
                    <a href="#"><img src="../../images/public/online.jpg">在线咨询</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div>
                <a href="#"><img src="../../images/public/header_icp.jpg"></a>
                <a href="#"><img src="../../images/public/header_net.jpg"></a>
                <a href="#"><img src="../../images/public/header_norton.jpg"></a>
                <a href="#"><img src="../../images/public/header_img.jpg"></a>
                <a href="#"><img src="../../images/public/header_badge.jpg"></a>
            </div>
        </div>
    </div>

</div>
<!--底部结束-->
</body>
</html>